# Ignore virtual environment
venv/

# Ignore configuration file with sensitive information
config.txt
dataset/_archive/
dataset/wandb/
dataset/config.txt

# Other common ignores
*.pyc
__pycache__/
.DS_Store
.idea